
<template name="profile">
<nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Username</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav">
 

      <li ><a href="#">Mein Profil<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Einkaufen <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
        <ul class="dropdown-menu forAnimate" role="menu">
          <li><a href="#">Gebote</a></li>
          <li><a href="#">Gekauft</a></li>
          <li><a href="#">Beobachtet</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Verkaufen <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
        <ul class="dropdown-menu forAnimate" role="menu">
          <li><a href="#">Neue Auktion</a></li>
          <li class="divider"></li>
          <li><a href="#">Meine Bilder</a></li>
          <li><a href="#">Meine Auktionen</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="main">
<!-- Content Here -->
</div>
</template>




