
<template name="createAuction">
 <div class="container">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        {{> createAuctionForm}}
       </div>
       <div class="col-sm-3">
      </div>
  </div>
 </div>
</template>

<template name="createAuctionForm">

  {{#autoForm collection="Auctions" id="auctionInsertForm" type="insert"}}
   <fieldset>
     {{> afQuickField name='title'}}
     {{> afQuickField name='subtitle'}}
   </fieldset>
{{> uploadForm}}
{{> file}}
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Add Auction</button>
    <button type="reset" class="btn btn-default">Reset Form</button>
  </div>
       
  {{/autoForm}}
</template>

<template name='file'>
gydyg
  <img src="{{imageFile.link}}"  />
  <!-- Same as: -->
  <!-- <img src="{{fileURL imageFile}}" alt="{{imageFile.name}}" /> -->
  <hr>
</template>

<template name="uploadForm">
  {{#with currentUpload}}
    Uploading <b>{{file.name}}</b>: 
    <span id="progress">{{progress.get}}%</span>
  {{else}}
    <input id="fileInput" type="file" />
  {{/with}}
</template>
