<template name="createAuction">
 <div class="container">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        {{> createAuctionForm}}
       </div>
       <div class="col-sm-3">
      </div>
  </div>
 </div>
</template>

<template name="createAuctionForm">
    <form>
        <label for="title">Title</label>
        <input id="title" type="text" name="title"><br>
        <label for="subtitle">Subtile</label>
        <input id="subtitle" type="text" name="subtitle"><br>
        <label for="description">Description</label>
        <input id="description" type="text" name="description"><br>
        <div class="input-group date" data-provide="datepicker">
            <input id="endDate" type="text" class="form-control">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Auction</button>
        <button type="reset" class="btn btn-default">Reset Form</button>
    </form>
</template>

<template name='file'>
gydyg
  <img src="{{imageFile.link}}"  />
  <!-- Same as: -->
  <!-- <img src="{{fileURL imageFile}}" alt="{{imageFile.name}}" /> -->
  <hr>
</template>

<template name="uploadForm">
  {{#with currentUpload}}
    Uploading <b>{{file.name}}</b>: 
    <span id="progress">{{progress.get}}%</span>
  {{else}}
    <input id="fileInput" type="file" />
  {{/with}}
</template>
