
<template name="suscribe">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">

    </div> <!-- end .col-xs-12 -->
  </div> <!-- end .row -->

<div class="container">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <h3 class="page-header">Get a Nuttenboard Profile</h3>
      <p>Get your ticket to the Nuttenboard.</p>
      <form id="application-signup" class="signup">
        <div class="form-group">
          <label for="emailAddress">Email Address</label>
          <input type="email" name="emailAddress" class="form-control" placeholder="Email Address">
        </div> <!-- end .form-group -->
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" placeholder="Password">
        </div> <!-- end .form-group -->
        <div class="form-group">
          <input type="submit" class="btn btn-success" value="Sign Up">
        </div> <!-- end .form-group -->
      </form>
      <p>Already have an account? <a href="/Login">Log In</a>.</p>
       </div>
       <div class="col-sm-3">
      </div>
  </div>
</div>


  
</template>
